.text-area {
	@apply
    w-full px-14 py-8 rounded-6 text-14
    cursor-pointer transition-shadow;

	&-primary {
		@apply
      text-neutral-2 bg-neutral-11 ring ring-neutral-9
      ring-offset-neutral-11 hover:ring-neutral-4 placeholder-neutral-5
      disabled:pointer-events-none disabled:text-neutral-8 disabled:ring-neutral-9;
	}

	&-light {
		@apply
      text-neutral-14 bg-neutral-1 ring ring-neutral-2 ring-offset-neutral-1
      hover:ring-neutral-4 placeholder-neutral-4 disabled:bg-neutral-11
      disabled:pointer-events-none disabled:text-neutral-8 disabled:ring-neutral-2;
	}
}